@charset "utf-8";
// ===================================================================
// body
// ===================================================================
html,body { width: 100%; font-size: calc(112.5% + 0.25vw); font-family:$base_font; }
body { width: 100%; height:100%; position: relative;
  h1 { font-size: 45px; }
  h2 { font-size: 30px; font-weight:bold; }
  h4 { font-weight: bold; font-size: 24px; margin-bottom: 0.5em; line-height: 1.5; }
  h1,h2,h3,h4 { font-family:$font_ttl; }
  img { max-width:100%; }
  @media #{$over-middle}  {
    .md-none { display: none; }
  }
  @media #{$small}  { .xs-none { display: none; } }
  .dis-flex { display: flex; }
  a { text-decoration:none; color:$accent_color_01; cursor: pointer;
    &:hover { color:$accent_color_02; transition:color 0.3s; }
    &.btn { border-radius:3px; border: 1px solid $accent-color-01; display: block; position: relative; text-align: center; padding: 35px 0; color:$accent-color-01;
      &.prev:before { font-family: 'Font Awesome 5 Free';  font-weight: 900; content: "\f104"; font-size: 120%; position: absolute; top:40%; left:3%;  }
      &.link:after { font-family: 'Font Awesome 5 Free';  font-weight: 900; content: "\f105"; font-size: 120%; position: absolute; top:40%; right:3%;  }
      &.ex-link:after { font-family: 'Font Awesome 5 Free';  font-weight: 900; content: "\f35d"; font-size: 120%; position: absolute; top:40%; right:2%;  }
      &:hover { border-color:$accent_color_02; transition:border-color 0.3s;  }
    }
  }
}

// navigation scrolltoouch off
@media #{$over-middle} {
  .pure-container { -webkit-overflow-scrolling:auto; }
  .pure-pusher-container,.pure-pusher { overflow: auto; height:auto; }
  .pure-drawer,.pure-overlay { display: none; }
}

.body-shared { position: relative;
  @media #{$over-middle} { font-size: 16px; min-width:768px;
    .ja-ttl { font-family: "source-han-serif-japanese"; font-weight: normal; }
    .en-ttl { font-family: "athelas"; font-weight: normal; }
  }
  @media #{$small} { font-size: 13px; }
  .wrapper { width: 100%; }

  // PC tablet navigation
  @media #{$over-middle} {
    #xs-global,#pure-toggle-left,.pure-toggle-label { display: none; }
  }

  // mobile navigation
  @media #{$small} { position: relative;
    #md-global { display: none; }
    #xs-global { position: relative; height:50px; display: flex; position: fixed; z-index:99; width: 100%; background-color: #fff; box-sizing: border-box;
      .btn-menu { width: 15%; background-color:#1ea8d7; position: relative; }
      .logo { width: 180px; margin: 0 2%; height:33px; background:url(../../images/logo.png) no-repeat top left; background-size:cover; position: absolute; top:12%; left:19%;
        strong { color:rgba(255,255,255,0); }
      }
      .btn-entry {  width:20%; height:50px; line-height:50px; position: absolute; top:0; right:0;
        a { color:#fff; background-color: $accent_color_01; text-align: center; font-size: 16px; font-style: italic; width: 100%; height:100%; display: block;
          &:hover { background-color: #fff; transition: background-color 0.6s; color:$accent_color_01; }
        }
      }
    }
    .pure-drawer { width: 45%;
      &:before { content:""; display: block; width: 100%; height:50px; background-color: #1ea8d7; }
    }
    nav ol { width: 100%;
      li { display: block; border-bottom: 1px solid #c8c8c8; }
      a { padding: 1.3em 1em; display: block;  position: relative; color:$accent_color_01;
        &:after { font-family: 'Font Awesome 5 Free';  font-weight: 900; content: "\f105"; font-size: 120%; position: absolute; right:5%; font-size: 120%; }
      }
      .no-link { padding: 1.3em 1em; display: block;  position: relative; color:$accent_color_01; }
    }
  }
}


// PC navigation
.body-shared {
   @media #{$over-middle} {
    #md-global {
      // ロゴのテキストを非表示化
      .logo { width:20%;
        strong span { display: none; color:rgba(255,255,255,0); }
      }
      // ページ先頭 表示
      &.relative,&.absolute { width: 100%; z-index: 99; background-color: transparent; transition: background-color 0.4s;
        .logo {  padding: 0 30px 20px; box-sizing: border-box;
          strong { display: block; width: 403px; height:73px; background:url(../../images/logo.png) no-repeat top left; background-size:cover }
        }
      }
      &.relative { position: relative; }
      &.absolute  { position: absolute; top:0; left:0; z-index:99;  }

      // スクロール追尾 表示
      &.fixed { position: fixed; top:0; left:0; z-index: 99; background-color:$accent_color_02; width: 100%; height:50px; transition: background-color 0.6s;
        .logo { padding-left: 20px; padding-top: 5px;
          strong { display: block; width: 185px; height:33px;  background:url(../../images/logo_white.png) no-repeat top left; background-size:cover; }
        }
      }
    }

    // テキストメニューの共通設定
    nav.md { display: flex; width: 100%;
      ol { list-style: none; flex-grow:1;
        li { margin-right: 30px; font-family: "source-han-sans-japanese",sans-serif; font-weight: bold; display: inline-block;
          a { color:$accent_color_01;
            &:hover { color:$accent_color_02; transition:color 0.3s; }
          }
        }
        .no-link { color:$accent_color_01;  }
      }
    }

    // ページ先頭 表示
    #md-global.relative,#md-global.absolute {
      nav { align-items:center; }
      .logo { max-width:400px; min-height:75px; }
      ol { text-align: right; }
      .btn-entry { width: 170px; margin-right: 0; text-align: right;
        a { color:#fff; width: 170px; height:170px; background:$accent_color_01 url(../../../images/top/icon_arrow.png) no-repeat; background-size: 70%; background-position: bottom 40% right 40%; line-height: 170px; text-align: center; font-size: 28px; font-style: italic; display: block;
          &:hover { background-color:$accent_color_02; transition: background-color 0.6s; }
        }
      }
    }
    #md-global.fixed {
      nav { height:50px; align-items:center; }
      .logo { max-width:250px; min-height:33px; padding-bottom: 8px; }
      ol { text-align: center;
        li { font-weight: normal; font-size: 14px; display: inline-block; float: none;
          &:last-child { margin-right: 0; }
        }
        a { color:#fff;
          &:hover { color:$accent_color_01; transition:color 0.2s; }
        }
        .no-link { color:#fff; }
      }
      .btn-entry { flex-basis:250px; line-height: 50px;
        a { color:#fff; text-align: center; font-size: 24px; font-style: italic; width: 100%; height:50px; display: block; background:$accent_color_01 url(../../../images/top/icon_arrow.png) no-repeat; background-position: bottom -12px right 10px; background-size: 25%;
          &:hover { background-color: #fff; transition: background-color 0.3s; color:$accent_color_01; }
        }
      }
    }
  } // over-middle

  // tablet under width 992px max 1024px
  @media #{$tablet} {
    #md-global.relative,#md-global.absolute {
      .logo { padding-left: 15px; padding-top: 10px;
        strong { width:250px; height:44.5px; }
      }
      ol li { margin-right: 15px; font-size: 1.5vw; }
      .btn-entry { width: 95px;
        a { width: 95px; height:95px; line-height: 95px; font-size: 20px; background-position: bottom 25% right 40%; background-size: 75%; }
      }
    }
    #md-global.fixed {
      ol li { margin-right: 15px; font-size: 1.5vw;
        &:last-child { margin-right: 0; }
      }
      .btn-entry { flex-basis:120px;
        a { font-size: 20px; background-position: bottom -15px right 10px; background-size:50%; }
      }
    }
  }

  // pc small view width 1025px - 1099px
  @media #{$pc-small-width} {
    #md-global.relative,#md-global.absolute {
      .logo { padding-left: 20px; padding-top: 0;
        strong { width:300px; height:55px; }
      }
      ol li { margin-right: 20px; font-size: 15px; }
      .btn-entry { width: 110px;
        a { width: 110px; height:110px; line-height: 110px; font-size: 22px; background-position: bottom 25% right 40%; background-size: 75%; }
      }
    }
    #md-global.fixed {
      ol li { margin-right: 20px; font-size: 15px;
        &:last-child { margin-right: 0; }
      }
      .btn-entry { flex-basis:140px;
        a { font-size: 22px; background-position: bottom -15px right 10px; background-size:50%; }
      }
    }
  }
}



// topic-path
#topics-path { width: 100%; box-sizing: border-box; position: relative; z-index:150;
  ol { display: table;box-sizing: border-box;
    li { padding: 10px 1em 10px 0; display: table-cell; white-space: nowrap;
      &:not(:last-child):after { content:'>'; display: inline-block; padding-left: 1em; }
    }
  }
  @media #{$small} { overflow-x: auto;
    ol { padding-left: 1em; }
  }
  @media #{$over-middle} { padding-left: 30px;
    ol li { font-size: 13px; }
  }
  @media #{$tablet} { margin-top: -25px; padding-left: 20px;
    ol li { font-size: 12px; padding: 7px 1em 7px 0; }
  }
  @media #{$pc-small-width} { margin-top: -33px; padding-left: 20px; }
  @media #{$xlarge} { margin-top: -50px; }
}

// コンテンツナビゲーション
nav#sub-page ol { display: flex; width: 100%; box-sizing: border-box;
  li {
    @media #{$tablet}  { font-size: 13px;}
    @media #{$pc-small-width} { font-size: 14px;}
  }
  @media #{$over-middle} { padding: 10px 30px; background-color: #f5f5f5;
    &.column-04 li { width: 25%; text-align: center; border-left: 1px solid $accent-color-01; border-right: 1px solid $accent-color-01; padding: 0 10px;
      a { display: block; padding: 7px 0;
        &:hover { background-color:$accent-color-01; transition: background-color 0.6s; color:#fff; }
        &.active { background-color:$accent-color-01; color:#fff;  }
      }
    &:first-child { border-right: none; }
    }
  }

  @media #{$small} { flex-wrap:wrap;
    li { width: 50%; text-align: left; box-sizing: border-box;
      &:nth-child(2n) { border-left: 1px solid #c8c8c8; }
    }
  }
}


// 共通キャッチビジュアル
.body-shared #catch-visual { position: relative; width: 100%;
  .catch-image { overflow: hidden; width: 100%; height:30vh; min-height:450px; position: relative; z-index: 1;
    img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;  height: auto; z-index:1; }
    .patern-dot { width: 100%; height:100%; display: block; background:url(../../images/patern_dot.png) repeat; position: absolute; top:0; left:0; z-index:3; }
    .page-ttl { position: absolute; top:50%; transform:translateY(-52%); font-size: 4vw; width: 100%; text-align: center; font-weight: normal; font-weight:400; color:#fff; letter-spacing:0.1em; font-style: italic; z-index: 5; vertical-align: middle; display: inline-block;
      span { font-size: 30px; display: inline-block; vertical-align: middle; padding-bottom: 0.5em; margin-right: 0.5em;  }
    }
    .page-ttl-en { color:rgba(255,255,255,0.5); position: absolute; left:50%; transform:translateX(-50%); bottom:-5vh; text-align: center; font-size: 15vw; white-space: nowrap; letter-spacing:-0.05em; z-index: 4; }
  }

  @media #{$small} {
    .catch-image { height:30vh;
      @media #{$mobile-side:} { min-height:250px; }
      .page-ttl { font-size: 22px;
        span { font-size: 14px; padding-bottom: 0; }
      }
      .page-ttl-en { bottom:-5%; }
    }
  }
  @media #{$tablet} {
    .catch-image { height:20vh; min-height:300px;
      .page-ttl-en { bottom:-10%; }
    }
  }
  @media #{$pc-small-width} {
    .catch-image { height:20vh;
      .page-ttl-en { bottom:-13%; }
    }
  }
}

// スマートフォン メニュー表示の余白設定
@media #{$small} {
.body-shared #contents { padding-top: 50px; }
}

.body-shared #main {
  .cnt-ttl { font-family:$font_min; text-align: center;
    &::after { width: 80px; height:5px; display: block; margin: 40px auto 4%; background-color:$accent-color-02; content:''; }
    @media #{$over-middle} { font-size: 35px; }
  }
  .inner { padding: 60px 0 50px;
    @media #{$large} { width: 1100px; margin: 0 auto; }
    @media #{$tablet} { width: initial; margin: 0 auto; }

  }

  .block-ttl { font-family:$font_min; text-align: center; color:$accent-color-01; text-align: center; margin-bottom: 30px;
    &::after { width: 80px; height:3px; display: block; margin: 20px auto 4%; background-color:$accent-color-01; content:''; }
      @media #{$over-middle} { font-size: 35px; }
      @media #{$small} { font-size: 20px; }
    }

  .note { font-size: 13px; line-height: 1.6; }
  ul.note li { padding-left: 1em; text-indent: -1em; }
  span.note { display: block; }
}


/* text-align
-------------------- */
.align_center { text-align: center;}
.align_right { text-align: right;}
.align_left { text-align: left;}

/* font-color
-------------------- */
.colors_f09 { color: #ff0099 !important;}
.colors_f60 { color: #ff6600 !important;}
.colors_a90 { color: #a90000 !important;}


/* font-siz
-------------------- */
.font_wb { font-weight: bold !important;}
.font_nm { font-weight: normal !important;}

/* font-size
-------------------- */
.font_size12 { font-size: 12px !important;}
.font_size13 { font-size: 13px !important;}
.font_size14 { font-size: 14px !important;}
.font_size15 { font-size: 15px !important;}
.font_size16 { font-size: 16px !important;}

/* letter-spacing
-------------------- */
.les-2p { letter-spacing: 2px;}
.les-1p { letter-spacing: 1px;}
.les_0p { letter-spacing: 0px;}
.les_1p { letter-spacing: -1px;}
.les_2p { letter-spacing: -2px;}

/* padding
-------------------- */
.pt10 { padding-top: 10px;}
.pt15 { padding-top: 15px;}
.pt20 { padding-top: 20px;}
.pt25 { padding-top: 25px;}
.pt30 { padding-top: 30px;}

.pr10 { padding-right: 10px;}
.pr15 { padding-right: 15px;}
.pr20 { padding-right: 20px;}
.pr25 { padding-right: 25px;}
.pr30 { padding-right: 30px;}

.pm10 { padding-bottom: 10px;}
.pm15 { padding-bottom: 15px;}
.pm20 { padding-bottom: 20px;}
.pm25 { padding-bottom: 25px;}
.pm30 { padding-bottom: 30px;}
.pm35 { padding-bottom: 35px;}
.pm40 { padding-bottom: 40px;}

.pl10 { padding-left: 10px;}
.pl15 { padding-left: 15px;}
.pl20 { padding-left: 20px;}
.pl25 { padding-left: 25px;}
.pl30 { padding-left: 30px;}

.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-50 { margin-top: 50px !important; }
.mt-60 { margin-top: 60px !important; }
.mt-70 { margin-top: 70px !important; }
.mt-80 { margin-top: 80px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-60 { margin-bottom: 60px !important; }
.mb-70 { margin-bottom: 70px !important; }
.mb-80 { margin-bottom: 80px !important; }
.mb-90 { margin-bottom: 90px !important; }
.mb-100 { margin-bottom: 100px !important; }
.mb-110 { margin-bottom: 110px !important; }
.mb-120 { margin-bottom: 120px !important; }
.mb-130 { margin-bottom: 130px !important; }
.mb-140 { margin-bottom: 140px !important; }
.mb-150 { margin-bottom: 150px !important; }
.mb-1em { margin-bottom: 0.8em; }
.mb-2em { margin-bottom: 0.8em * 2; }
.mb-3em { margin-bottom: 0.8em * 3; }
.mb-4em { margin-bottom: 0.8em * 4; }
.mb-5em { margin-bottom: 0.8em * 5; }


/* float
-------------------- */
.fl-right { float: right;}
.fl-left { float: left;}
.fl-none { float: none;}
.fl-cl { clear: both;}
.ov-hid { overflow: hidden; }

/* display
-------------------- */
.display_none,body.md .md_none,body.xs .xs_none { display: none;}
.display_block { display: block;}
.display_table { display: table; }
.display-flex { display: flex; }



/* list_style
-------------------- */
ul.list_disc { margin-left: 1.2em;
  li { list-style-type: disc !important; line-height: 1.86; }
}



