@charset "utf-8";
// ===================================================================
// 設定
// ===================================================================

// base
$base_font: -apple-system,'Lucida Grande','Helvetica Neue','Hiragino Kaku Gothic ProN', '游ゴシック','メイリオ',meiryo,sans-serif;

$font_ttl: 'source-han-sans-japanese',-apple-system,'Lucida Grande','Helvetica Neue','Hiragino Kaku Gothic ProN', '游ゴシック','メイリオ',meiryo,sans-serif;
// accent
$font_min: 'source-han-serif-japanese','Hiragino Mincho ProN','HG明朝E','ＭＳ Ｐ明朝', serif;

// google-font
$font_en_sub_ttl: 'Didact Gothic', sans-serif;
// custum font
$cus_en: 'Montserrat', sans-serif;

$shared-lh:1.86;
$border_color: #e5e5e5;
$border_color_hover: #e5e5e5;

$small:  "only screen and (max-width:767px)";
$mobile-side:  "only screen and (min-width:440px) and (max-width:767px)";
$middle: "only screen and (min-width:768px) and (max-width:991px)";
$large:  "only screen and (min-width:992px)";
$xlarge:  "only screen and (min-width:1200px)";
$over-middle: "only screen and (min-width:768px)";
$tablet: "only screen and (min-width:768px) and (max-width:1366px)";
$nav:"only screen and (min-width:300px) and (max-width:1366px)";

// メインカラー（ベースカラー）
$main_color: #00428e;

// サブカラー
$sub_color: #008fe8;

// ベーステキストカラー
$base-color: #111;
$title_color: #0c1f44;
$lead_color:#003366;

// アクセントカラー
$accent_color_01: #003b83;
$accent_color_02: #0081cc;
$accent_color_03: #6fd1b2;
$accent_color_05: #dca7d9;
$accent_color_06: #a0ce84;
$accent_color_07: #909ed3;



// カテゴリーカラー
$cat_color_00: #e60012; // base home news contact
$cat_color_01: #00a0e9; // 当協会について
$cat_color_02: #23ac38; // 協会概要
$cat_color_03: #f7ee13; // 事業内容
$cat_color_04: #e6737c; // 提供プログラム
$cat_color_05: #74c3e8; // イベント情報
$cat_color_06: #d2d2d2; // お問い合わせ
$cat_color_07: #ef7c17;

$bg_color_01: #0d1f43; // footer 紺色
$bg_color_01_hover: #0f2e6a; // 紺色 hover
$bg_color_02: #f3f1ea;
$bg_color_03: #55bfff; // home cnt02,04
$bg_color_04: #efcb4c; // home cnt03
$bg_color_05: #0f1e45; // 本社・工場 ボックス背景





// ベースリンクカラー
$link_color: #d50b15;
$link_color_visited: #642642;
$link_color_hover: #f3f3f3;
$link_color_active: #008fe8;
$link_color_btn: #9c191e;

// ホワイトカラー
$link_white: #fff;
$text_white: #fff;

// コンテンツのフォントサイズ
/*
$base_size: 100%;
$navi_size: 0.86rem;
$small_size: 0.83rem;
$small_size02: 0.90rem;
$large_size: 1rem;
$large_size02: 1.1rem;
*/

$base_size: 100%;
$navi_size: 85%;
$small_size01: 90%;
$small_size02: 85%;
$small_size03: 80%;
$small_size04: 75%;

$font-size-xs: 14px;
/*
$box_title_size: 1.5rem;
$con_title_size: 1.3rem;
$con_title_size_xs: 1.15rem;
*/

$title_size: 150%;
$title_size_xs: 120%;
$catch_size: 1.2rem;
$wrap_ttl: 1.35rem;
$wrap_ttl_sub: 1.2rem;
$wrap_ttl_xs: 1.5rem;
$wrap_ttl_sub_xs: 0.9rem;


// ボーダーカラー
$section_title_boarder:1px solid #e9eaed;
$submenu_boarder:1px solid #e9eaed;


%base_text { font-size:$base_size; line-height: 1.86; }
%base_layout_inner_md { width: 940px; margin: 0 auto; }
%base_layout_inner_xs { width: 94%; margin: 0 auto; }

// レイアウト共通設定
%layout_box_site_md { width:940px; margin: 0 auto; }
%layout_box_site_xs { width:100%; margin: 0 auto; }
$layout_margin_md : 10px auto;
$layout_margin_xs : 2% auto;
$shared_margin : 40px;

