/*
$base-size: 100%;
$navi-size: 0.86rem;
$small-size: 0.83rem;
$small-size02: 0.90rem;
$large-size: 1rem;
$large-size02: 1.1rem;
*/
/*
$box-title-size: 1.5rem;
$con-title-size: 1.3rem;
$con-title-size-xs: 1.15rem;
*/
