@charset "utf-8";
// ===================================================================
// recruit information
// ===================================================================
#recruit-information {

	&.recruit-index #main {
		.inner {
			@media #{$large} { width: 1100px; margin: 0 auto; }
		}
		.cnt-catch { position: relative;
			h2 { color:#fff; background-color:$accent-color-01; font-family:$font-min;
				@media #{$over-middle} { font-size: 35px; }
			}
		}
		p:not(:last-child) { margin-bottom: 1em; font-family:$font_min; }
	}
}