/*
$base_size: 100%;
$navi_size: 0.86rem;
$small_size: 0.83rem;
$small_size02: 0.90rem;
$large_size: 1rem;
$large_size02: 1.1rem;
*/
/*
$box_title_size: 1.5rem;
$con_title_size: 1.3rem;
$con_title_size_xs: 1.15rem;
*/
